{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="static/css/zTreeStyle/zTreeStyle.css" type="text/css">
{% end %}

{% block message_body %}{% end %}

{% block middle_body %}
<div class="col-sm-3 col-sm-offset-1">
    <h1>分类</h1>

    <div class="left">
        <ul id="category_tree" class="ztree"></ul>
    </div>

</div>

<div class="col-sm-8">
    <h1>新建</h1>
    <form role="form" method="post" action="/category" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="分类名称">
        </div>
        <div class="form-group">
            <label>父分类</label>
            <select class="form-control" id="parent_id" name="parent_id">
                <option value>无</option>
                {% for p in parents %}
                    {% block p %}
                        <option value="{{ p.id }}">{{ p.name }}</option>
                    {% end %}
                {% end %}
            </select>
        </div>
        <input type="submit" class="btn btn-default"></input>
    </form>
</div>
{% end %}

{% block body_tail %}
<script src="static/js/jquery.ztree.all.min.js"></script>
<script>
    var setting = {
        data: {
            simpleData: {
                enable: true
            }
        }
    };
    $(document).ready(function () {
        $.get("/category?all", function (data, textStatus) {
            // 处理data格式为ztree可以处理的格式
            var nodes = new Array();
            for (var i in data) {
                if (data[i]["parent_id"] === null) {
                    data[i]["isParent"] = true;
                }
                data[i]["pId"] = data[i]["parent_id"]
                nodes.push(data[i]);
            }
            // 初始化ztree
            $.fn.zTree.init($("#category_tree"), setting, nodes);
        });
    });
</script>
{% end %}